html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    
    background-color: #ffffffc9;

}
nav {
    width: 100%;
    float: left;
    background-color: #373636;
    margin-bottom: 10%;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

.navlinks:hover {
    background-color: #407387;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 2%;
}

.navlinks {
    color: #fff; 
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

a:visited {
    color: #fff;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

p {
    padding-top: 2%;
}

#my-info {
    text-align: center;
}

.info-name {
    margin-top: 3%;
}

.about-me {
    text-align: center;
}

.about-me h1 {
    margin-bottom: 2%;
}

.about-me p {
   padding-top: 2%; 
}

.my-portfolio {
    padding: 10%;
}

.portfolio-project {
    padding-top: 5%;
}

.img-portfolio {
    padding-top: 5%;
    text-align: center;
}